:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;

  color-scheme: light dark;
  color: #FE347E;
  background-color: white;
  overflow: hidden;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

body::scrollbar{
  width: 1em;
}

body::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategrey;

}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FE347E;
  cursor: pointer;
  transition: border-color 0.25s;
  top: 10px; 
  right: 30px;
  margin: 1em;
}
button:hover {
  border-color: aqua;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* .boxed {
  border-width: 5px;
  border-style: solid;
  border-color: white;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*--------------*/
/* HOME PAGE */
/*--------------*/
.page-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;  /* To prevent any scrolling */
  background-image: url('./assets/background.png');  /* Replace with your image path */
  background-size: cover;  /* scales the image to cover the div */
  background-repeat: no-repeat;  /* prevents the image from repeating */
  background-position: center center;  /* centers the image */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centers content vertically */
  align-items: center;  /* Centers content horizontally */
  margin: 0;
}

.headliner-content {
  color: #FE347E;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

footer {
    bottom: 0;
    width: 100% !important;
    padding: 1% 2%;
    font-size: 0.8rem;
    border-top: solid #FE347E 3px;
}

.card-container{
  
}